<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Light_sea_order_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,347},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>bear_click_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,223},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>bear_column_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,212},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,68}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>bear_wrap_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{79,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,71}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>cat_click_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{68,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>cat_column_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>cat_wrap_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,143},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,67}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>chicken_click_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,294},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>chicken_column_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{75,75}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>chicken_wrap_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,72},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>fox_click_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,282},{68,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>fox_column_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,150},{74,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>fox_wrap_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>frog_click_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>frog_column_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,68}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>frog_wrap_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,75},{77,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{77,66}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rolepic.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf993082469854e50a4e7231b768e10$</string>
            <key>textureFileName</key>
            <string>rolepic.png</string>
        </dict>
    </dict>
</plist>
